{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "requireConfigFile": true
  },
  "extends": [
    "standard",
    "standard-react"
  ],
  "env": {
    "es6": true,
    "browser": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "space-before-function-paren": 0,
    "react/jsx-boolean-value": 0,
    "n/no-callback-literal": 0
  }
}
